@font-face {
  font-family: Avenir-light;
  src: url(Avenir-Light.ttf);
  font-family: Cinzel;
  src:url(Cinzel-Regular.otf);
}


/*navbar custom styles*/
.navbar-custom {
    font-family: Avenir-Light;
    background-color:white;
    color:black;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:black;
}

.navbar-custom .navbar-nav > .active > a {
    color: black;
    background-color:white;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: white;
}

.navbar-custom .navbar-brand {
    color:black;
}
.navbar-custom .navbar-toggle {
    background-color:white;
}
.navbar-custom .icon-bar {
    background-color:white;
}

/*end of navbar styles*/


body
{
  background-image: url("../images/mainpage.png");
  background-size:cover;
}
